*{
    
    padding: 0;
    background: rgb(195, 195, 195);
    /*background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(163,45,253,1) 100%);*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{text-align: center;color: #e7e7e7;background:#6f0550;}
.container{
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    display:inline-block ;
    width: 156px;
    height: 110px;
    background: #2402ac;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    font-size: small;
    position: relative;
}

.container:hover{background: #73b06f;}
footer{text-align: center; margin:100px;color: #0c8f8f; }

button{
    width: 75px;
    height: 35px;
    background:rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;}   
    po
button:hover{background-color:#ffad08; text-align: center;}

/* paleta de colores base
.color1 { #ffad08 };
.color2 { #edd75a };
.color3 { #73b06f };
.color4 { #0c8f8f };
.color5 { #405059 };*/
.hoy {
    color: rgb(28, 20, 45); text-align: center;/*estilos para la fecha actual */
    font-size:30px;
}

.BarraSuperior{font-size: larger;color: rgb(11, 11, 11); text-align: right;position: relative; left: 0%; bottom: 185px;}/*estilos para la barra de inicio de sesion*/
a{ text-decoration: none;}